*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	font-family: Roboto;
}

a {
	text-decoration: none;
}

a,
button {
	cursor: pointer;
}

button {
	border: none;
	outline: none;
	background-color: transparent;
}

ul {
	list-style: none;
}

main {
	overflow-x: hidden;
}

.page {
	position: relative;
	min-width: 320px;
	background-color: #fff;
}

.wrap {
	margin: 0 auto;
	padding: 30px 0;
	width: 68%;
}

.page_grey {
	background-color: #fbfbfb;
}


/*------------ header ---------------*/


.header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	   -ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	   -ms-flex-align: center;
	      align-items: center;
}

.menu-active {
	position: absolute;
	line-height: 25px;
	background-color: #fbfbfb;
	z-index: 5;
}

.menu__button,
.menu__close {
	display: none;
}

.menu__button_pink,
.menu__close_pink {
	color: #f82577;
}

.icon-menu::before,
.icon-cancel::before {
	margin: 0;
	width: auto;
}

.header__menu-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.menu-list__item {
	display: block;
	margin: 0 20px 7px 0;
	-webkit-box-sizing: content-box;
	        box-sizing: content-box;
}

.menu-list__item:last-child {
	margin-right: 0;
}

.menu-list__link:hover, .menu-list__link:focus {
	text-decoration: none;
	color: #ff4e2e;
	border-bottom: 2px solid #ff4e2e;
}

.menu-list__link_black {
	color: #1f1f24;
}

.header__phone {
	margin-left: auto;
	margin-right: 30px;
}

.phone {
	font-size: 25px;
}

.phone_bold {
	font-weight: 700;
}

.btn-order {
	width: 205px;
	height: 44px;
	outline: 2px solid #f82370;
	color: #f82370;
}

.btn-order:focus {
	outline: 2px solid #f82370;
}

.btn-order:hover,
.btn-order-mobile:hover {
	background-color: #f82370;
	color: #fff;
}

.header__btn-order-mobile {
	display: none;
}

.btn-order-mobile {
	width: 40px;
    height: 40px;
    font-size: 21px;
	text-align: center;
	color: #f82577;
	border: 2px solid #f82577;
	border-radius: 30px;
}

.btn-order-mobile:focus {
	outline: none;
}


/*-------------- main -----------------*/


.section {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.wrap__section {
	margin-bottom: -30px;
}

.section__name,
.section__photo {
	z-index: 3;
}


.name {
	-webkit-align-self: center;
	-ms-flex-item-align: center;
	 -ms-grid-row-align: center;
	         align-self: center;
}

.name__title {
	font-size: 80px;
}

.name__text {
	margin: 20px 0 50px;
	font-size: 25px;
}

.name__text_grey {
	color: #8993ad;
}

.btn-details {
	width: 270px;
	height: 60px;
	font-size: 18px;
	color: #fff;
}

.btn-details:focus {
	outline: none;
}

.btn-details_orange {
	background-color: #ff4e2e;
}

.btn-details:hover {
	background-color: #e03e2f;
}

.section__photo {
	margin-right: -7%;
	-webkit-align-self: flex-end;
        -ms-flex-item-align: end;
	        align-self: flex-end;
}

.photo {
	display: block;
	max-width: 100%;
}

.page__canvas {
	position: absolute;
	right: 0;
	bottom: 0;
	overflow-x: hidden;
	z-index: 2;
}

.page-mobile {
	display: none;
}

.page__skills,
.page__examples {
	margin: 70px 0;
}

.skills{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}

.skills__title,
.examples__title {
	font-size: 54px;
	text-align: center;
}

.skills__block,
.footer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.skills__skills-item {
	margin: 100px 0;
}

.skills-item {
	width: 21%;
	text-align: center;
}

.skills-item__text,
.examples-item__text {
	font-size: 20px;
	line-height: 32px;
}

.skills-item__text_grey,
.examples-item__text_grey,
.menu-list__link_grey {
	color: #8993ad;
}

.examples {
	position: relative;
}

.examples__block {
	margin: 100px 0;
}

.examples__examples-item {
	margin: 0 0.5%;
}

.examples-item__img {
	width: 100%;
}

.examples-item__text {
	margin-top: 40px;
}

.examples__arrow-left,
.examples__arrow-right {
	position: absolute;
	z-index: 2;
}

.examples__arrow-left,
.examples__arrow-right {
	top: 43%;
}

.examples__arrow-right {
	right: 0;
}

.arrow-left,
.arrow-right {
	border-radius: 35px;
	-webkit-box-shadow: -10px 0 10px -2px #f3f3f3;
	        box-shadow: -10px 0 10px -2px #f3f3f3;
	background-color: transparent;
}

.arrow-right {
	-webkit-transform: rotate(180deg);
	        transform: rotate(180deg);
}

.examples__btn-details {
	display: block;
	margin: 0 auto;
}

.price-block {
	padding: 1px 0;
	color: #fff;
	background: #ff706e;
	background: linear-gradient(20deg, #ff8f5a 20%, #ff2f96);
}

.price-block__title,
.price-block__text {
	width: 80%;
}

.price-block__title {
	margin: 85px auto 40px;
	font-size: 45px;
}

.price-block__text {
	margin: 40px auto 85px;
	font-size: 18px;
	line-height: 30px;
}


/*-----------flying elements --------------*/


.page__flying-block-1,
.page__flying-block-2,
.page__flying-block-3,
.page__flying-block-4,
.page__flying-block-5,
.price-block__flying-block-1,
.price-block__flying-block-2,
.price-block__flying-block-3,
.price-block__flying-block-4,
.price-block__flying-block-5 {
	position: absolute;
}

.page__flying-block-1 {
	top: 17%;
	left: 7%;
}

.page__flying-block-2 {
	top: 27%;
	left: 38%;
}

.page__flying-block-3 {
	top: 52%;
	left: 12%;
}

.page__flying-block-4 {
	top: 76%;
	left: 44%;
}

.page__flying-block-5 {
	top: 91%;
	left: 18%;
}

.flying-block-1,
.flying-block-2,
.flying-block-3,
.flying-block-4,
.flying-block-5 {
	display: inline-block;
	font-weight: bold;
	-webkit-transform-origin: 0 0 0;
	        transform-origin: 0 0 0;
}

@-webkit-keyframes flying {
	0% {left: 50%; top: 50%;}
}

@keyframes flying {
	0% {left: 50%; top: 50%;}
}

.flying-block-1 {
	font-size: 48px;
	-webkit-transform: rotate(25deg);
	        transform: rotate(25deg);
	-webkit-animation: flying 2s linear;
	        animation: flying 2s linear;
}

.flying-block-2 {
	font-size: 30px;
	-webkit-transform: rotate(-15deg);
	        transform: rotate(-15deg);
	-webkit-animation: flying 2s linear;
	        animation: flying 2s linear;
}

.flying-block-3 {
	font-size: 58px;
	-webkit-transform: rotate(10deg);
	        transform: rotate(10deg);
	-webkit-animation: flying 2s linear;
	        animation: flying 2s linear;
}

.flying-block-4 {
	font-size: 38px;
	-webkit-transform: rotate(20deg);
	        transform: rotate(20deg);
	-webkit-animation: flying 2s linear;
	        animation: flying 2s linear;
}


.flying-block-5 {
	font-size: 41px;
	-webkit-transform: rotate(-20deg);
	        transform: rotate(-20deg);
	-webkit-animation: flying 2s linear;
	        animation: flying 2s linear;
}

.flying-block-1_pink,
.flying-block-2_pink,
.flying-block-3_pink,
.flying-block-4_pink,
.flying-block-5_pink {
	color: #f82577;
}

.flying-block-1_white,
.flying-block-2_white,
.flying-block-3_white,
.flying-block-4_white,
.flying-block-5_white {
	color: #fff;
}

.price-block__flying-block-1 {
	top: 9%;
	left: 6%;
}

.price-block__flying-block-2 {
	top: 70%;
	left: 93%;
	font-size: 50px;
}

.price-block__flying-block-3 {
	top: 65%;
	left: 13%;
}

.price-block__flying-block-4 {
	top: 79%;
	left: 74%;
}

.price-block__flying-block-5 {
	top: 23%;
	left: 86%;
}


/*----------- footer --------------*/


.page__footer {
	margin: 50px 0;
}

.menu-list__item_size {
	font-size: 18px;
}

.contact__tel,
.contact__email {
	font-size: 25px;
}

.contact__tel {
	margin-bottom: 30px;
}

.icon-fonts {
	font-size: 18px;
	margin-right: 20px;
	color: #f82577;
}

.right-block__btn-order {
	margin-bottom: 30px;
}

.right-block__btn-details {
	display: none;
}

.social-networks__link {
	display: inline-block;
	margin-right: 30px;
	background-image: url('../img/css_sprites.png');
	background-repeat: no-repeat;
}

.bg-vk {
    width: 36px; 
    height: 21px;
    background-position: -10px -10px;
}

.bg-facebook {
    width: 16px; 
    height: 29px;
    background-position: -111px -10px;
}

.bg-twitter {
    width: 29px; 
    height: 25px;
    background-position: -10px -51px;
}

.bg-instagram {
    width: 25px;
    height: 25px;
    background-position: -66px -10px;
}

.page_darkblue {
	background-color: #31293c;
}

.footer-text {
	margin: 0;
	text-align: center;
	color: #fff;
}